<h1>Proyecto de Angular</h1>

<header>
<ul>
  <Li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre Mi</a></Li> 
  <Li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></Li> 
  <li id="logo"><a href="#">EG</a></li>
  <Li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a></Li>  
  <Li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></Li> 
  
</ul>
</header>

<section id="content">

  <router-outlet></router-outlet>

</section>

<footer>
 <p> Portfolio de Esteban Gulias &copy;</p>
</footer>
